body {
    background: lightseagreen;
    font-family: cursive;
}

h1 {
    font-weight: bolder;
}

p {
    font-size: 28px;
}

h1, h2, p {
    color: rgb(94, 0, 94);
}

.heading {
    margin-top: 8%;
}